// -------------------------
// Variables
// -------------------------

// Font size
base-font-size   = 10px;
medium-font-size = 8.5px;
small-font-size  = 7.5px;

// Colors
dark-color       = #000;
light-color      = #fff;
heading-color    = #555;
content-color    = #777;
link-color       = #999;
featured-color   = dark-color;

// Themes
themes = {
  primary    : #64DDBB,
  secondary  : #ddd,
  tertiary   : #eee,
  quaternary : light-color
}

// Box Model
container-width  = 1024px;
space       = 10px;
double-space     = (space * 2);
