#form-cadastro {
    
    > .title {
        text-align: center;
    }
    
    > form {
        margin: 0 auto;
        max-width: 400px;
        
        
    }
    
    .flipswitch {
        max-width: 200px;
        margin: 0 auto;
    }
    
    .btn {
        float: right;
    }
}