#main-header {

    background-color: light-color;
    padding: double-space 0;
    
    > * {
        margin: 0 auto;
        width: container-width;
    }
    
    > .wrapper {
        lost-utility: clearfix;
        
        > .main-logo {
            float: left;
        }
        
        > .login {
            float: right;
            padding: space 0;
            
        }
    }
}