#timeline { 
    width: 50%;
    float: left;
    
    > .new {
        margin-bottom: 4*(double-space);
        padding-bottom: 2*(double-space);
        border-bottom: 1px dashed themes.primary;
    }
}