.featured-news {
    overflow: hidden;
    max-height: 480px;
    
    .new { 
        width: 100%;
        
        > figcaption {
            position: absolute;
            bottom: 0;
            right: 0;
            text-align: right;
            padding: double-space*2;
            font-size: responsive;
        }
    }
}