// -------------------------
// My Component
// -------------------------

.my-component {
	& {
		@extends $_align-center;
	}
	
	&.-variant {}
	
	> .element {}
}

// PS:
// Do not define sizes and groups for components
