.new {
    lost-utility: clearfix;

    > .title {
        font-size: 24px;
        margin: space 0;
    }
    
    > .banner {
        width: 100%;
        > img {
            width: 100%;
        }
    }
    
    > .content {
        font-size: 16px;
        line-height: 1.4;
    }
    
    > .actions {
        float: right;
        font-size: 12px;
    }
}